[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/claudiajkang/hugo-coder
[submodule "public"]
	path = public
	url = https://github.com/claudiajkang/claudiajkang.github.io.git
[submodule "content/slides"]
	path = content/slides
	url = https://github.com/claudiajkang/slides
